* {
  
}
:root {
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #5797ff ; 
background-image: url("../images/map10.png");
background-size: cover;
background-repeat: no-repeat;
}
div.starter{
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#startext{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    color: #fcea76;;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-family: cursive;
  }
#startbut{
    position: absolute;
    left: 50%;
    margin-top: 40px;
    height: 25%;
    width: 35%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 15px;
  border-radius: 15% ;
    background-color: rgba(65, 26, 3, 0.7);
    color: #fcea76;
   font-weight: bold;
    border: solid 4px #fcea76;
    font-family: cursive;
}
header {
    font-size: 70px;
    color:  #fcea76;
    font-family: cursive;
    margin-bottom: -100px;
    width: 400px;
    animation: fadein 6s;
}

#dialogbox {
    float: right;
background-image: linear-gradient(rgba(248, 81, 9, 0.5), rgb(44, 2, 2));
border: groove 8px #ababab;
height: 225px;
width: 600px;
animation: fadein 3s;
}


p {
    font-family: 'Press Start 2P';
    color: #c2ac21;
    font-size: 16px;
}

#quest {
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
    height: 100px;
}
h2 {
    font-family: 'Press Start 2P';
    font-size: 15px;
}
#dialogbox h2 {
    width: 300px;
    height: 30px;
    border-bottom: groove 4px #ababab; 
    color: #c2ac21;
    margin-bottom: 15px;
    margin-top: -1px;
    background-color: rgba(44, 2, 2,0.5);
    padding-left: 10px;
    padding-top: 15px;
    
}
#dialogbox img {
    border: groove 4px #ababab; 
    float: right;
    height: 215px;
    width: 173px;
    margin-top: -200px;
}

#playerbox {
    
background-image: linear-gradient(rgba(43, 64, 250, 0.5), rgb(0, 4, 37));
border: groove 8px #ababab;
margin-top: 350px;
height: 225px;
width: 500px;
position: fixed;
animation: fadein 10s;
}

#playerbox p {
    float: right;
    padding-top: 100px;
    padding-right: 30px;
    color: #c2ac21;
    font-size: 16px;
}
#playerbox h2 {
    float:right;
    width: 250px;
    height: 30px;
    border-bottom: groove 4px #ababab; 
    color: #c2ac21;
    margin-bottom: -100px;
    margin-top: -1px;
    background-color: rgba(0, 4, 37, 0.5);
    padding-top: 15px;
    padding-right: -130px;
    padding-left: 20px
}
#playerbox img {
    border: groove 4px #ababab; 
    height: 216px;
    width: 173px;
    margin-left: -10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

#taskbox {
   
    float: right;
    margin-left: 350px;
    margin-top: 90px;
    margin-right: 120px;
    height:400px;
    width:500px
}

.ans-btns {
    background-color: rgba(44, 2, 2, 0.7);
    height:150px; 
    width:300px;
    color: #c2ac21;
    border: groove 6px #ababab; 
    border-radius: 25px;
    font-family: 'Press Start 2P';
    font-size: 12px;
   }
.ans-btns:hover {
    background-color: rgb(80, 58, 230)
}
.ans-btns.correct {
    background-color: limegreen;
    color: white;
}
.ans-btns.wrong {
    background-color: red;
}

.guide-btns{
       float: right;
       margin-top: -50px;
    }

.hide {
    visibility: hidden;
}
.visible{
    visibility: visible;
}
@keyframes fadein {
 0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}
