* {
  
}
:root {

}


body {
    -webkit-font-smoothing: antialiased;
    background-color: #5797ff ; 
background-image: url("../images/map10.png");
background-size: 1280px 760px;
background-repeat: no-repeat;
}

header {
    font-size: 70px;
    color:  #fcea76;
    font-family: cursive;
    margin-bottom: -100px;
    width: 400px;
}

.dialogbox {
    float: right;
background-image: linear-gradient(rgba(248, 81, 9, 0.5), rgb(44, 2, 2));
border: groove 8px #ababab;
height: 225px;
width: 600px;
}

p {
    font-family: 'Press Start 2P';
    color: #c2ac21;
    font-size: 15px;
}

.dialogbox p {
    padding-top: 38px;
    padding-left: 20px;
    width: 300px;
    height: 100px;
}
h2 {
    font-family: 'Press Start 2P';
    font-size: 15px;
}
.dialogbox h2 {
    width: 300px;
    height: 30px;
    border-bottom: groove 4px #ababab; 
    color: #c2ac21;
    margin-bottom: 15px;
    margin-top: -1px;
    background-color: rgba(44, 2, 2,0.5);
    padding-left: 10px;
    padding-top: 15px;
    
}
.dialogbox img {
    border: groove 4px #ababab; 
    float: right;
    height: 215px;
    width: 173px;
    margin-top: -216px;
    
}

.playerbox {
background-image: linear-gradient(rgba(43, 64, 250, 0.5), rgb(0, 4, 37));
border: groove 8px #ababab;
margin-top: 350px;
height: 225px;
width: 500px;
position: fixed;
}

.playerbox p {
    float: right;
    padding-top: 100px;
    padding-right: 30px;
    color: #c2ac21;
    font-size: 15px;
}
.playerbox h2 {
    float:right;
    width: 250px;
    height: 30px;
    border-bottom: groove 4px #ababab; 
    color: #c2ac21;
    margin-bottom: -100px;
    margin-top: -1px;
    background-color: rgba(0, 4, 37, 0.5);
    padding-top: 15px;
    padding-right: -130px;
    padding-left: 20px
}
.playerbox img {
    border: groove 4px #ababab; 
    height: 216px;
    width: 173px;
    margin-left: -10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

#taskbox {
    float: right;
    margin-left: 350px;
    margin-top: 90px;
    margin-right: 120px;
    height:400px;
    width:500px
}

.ans-btns {
    background-color: rgba(44, 2, 2, 0.7);
    height:150px; 
    width:300px;
    color: #c2ac21;
    border: groove 6px #ababab; 
    border-radius: 25px;
    font-family: 'Press Start 2P';
   }
 .ans-btns:hover {
    background-color: rgb(80, 58, 230)
}
   .guide-btns{
       float: right;
       margin-top: -50px;
   }